.footer {
  background-color: #01579b;
  height: 100px;
}

.img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header-primary {
  height: 20px;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  background-color: #051d3d;
  color: white;
}
