.margin-top {
  margin-top: 20px;
}
.img-home-left {
  width: 70%;
  border-radius: 5px;
  float: right;
  margin: 5px;
}
.img-home-right {
  width: 70%;
  border-radius: 5px;
  float: left;
  margin: 5px;
}

.content-left {
  width: 70%;
  text-align: left;
  float: right;
}

.content-right {
  width: 70%;
  text-align: left;
  float: left;
}
