<div class="row margin-top">
  <div class="col-xs-6">
    <div class="box">
      <img class="img-home-left" src="../../../assets/img/gatitos.jpg" alt="" />
      <div class="content-left">
        <h2>Regsitra tus mascotas</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ipsum
          hic quasi sunt eaque dignissimos atque quod enim ad praesentium
          asperiores omnis, eum consectetur suscipit iusto eveniet iure fuga
          laborum!
        </p>
      </div>

      <img
        class="img-home-left"
        src="../../../assets/img/perritos.jpg"
        alt=""
      />
      <div class="content-left">
        <h2>Regsitra tus mascotas</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ipsum
          hic quasi sunt eaque dignissimos atque quod enim ad praesentium
          asperiores omnis, eum consectetur suscipit iusto eveniet iure fuga
          laborum!
        </p>
      </div>
      <img class="img-home-left" src="../../../assets/img/patos.jpg" alt="" />
      <div class="content-left">
        <h2>Regsitra tus mascotas</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ipsum
          hic quasi sunt eaque dignissimos atque quod enim ad praesentium
          asperiores omnis, eum consectetur suscipit iusto eveniet iure fuga
          laborum!
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="box">
      <img
        class="img-home-right"
        src="../../../assets/img/cachorros.jpg"
        alt=""
      />
      <div class="content-right">
        <h2>Regsitra tus mascotas</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ipsum
          hic quasi sunt eaque dignissimos atque quod enim ad praesentium
          asperiores omnis, eum consectetur suscipit iusto eveniet iure fuga
          laborum!
        </p>
      </div>
      <img class="img-home-right" src="../../../assets/img/conejo.jpg" alt="" />
      <div class="content-right">
        <h2>Regsitra tus mascotas</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ipsum
          hic quasi sunt eaque dignissimos atque quod enim ad praesentium
          asperiores omnis, eum consectetur suscipit iusto eveniet iure fuga
          laborum!
        </p>
      </div>
    </div>
  </div>
</div>
