.input {
  width: 100%;
}

.picker {
  width: 60%;
  text-align: left;
}
.text-danger {
  color: red;
  font-weight: 500;
  font-size: 11px;
}
.form {
  margin-top: 30px;
  margin-bottom: 150px;
}

mat-progress-bar {
  margin-bottom: 500px;
}