<div class="row center-xs margin-top">
  <div class="col-xs-8">
    <mat-progress-bar
      *ngIf="progress === true"
      mode="indeterminate"
    ></mat-progress-bar>
    <div class="box" *ngIf="progress === false">
      <mat-card class="card" *ngFor="let item of pets">
        <mat-card-title>
          {{ item.namePet }}
        </mat-card-title>
        <mat-card-subtitle>
          Nombre propietario: {{ item.name + " " + item.last_name }}
          <br />
          Rut propietario: {{ item.rut }}
        </mat-card-subtitle>
        <mat-card-content>
          Tipo de animal: {{ item.type_pet }}
        </mat-card-content>
        <mat-card-content> Raza: {{ item.race }} </mat-card-content>
        <mat-card-content> Sexo: {{ item.sex }} </mat-card-content>
        <mat-card-content>
          Fecha nacimiento: {{ item.birthday }}
        </mat-card-content>

        <mat-card-actions>
          <button color="primary" mat-mini-fab (click)="openDialogUpdate(item)">
            <mat-icon>create</mat-icon>
          </button>
          <button color="warn" mat-mini-fab (click)="openDialogDelete(item.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
